# Master .gitignore (Global Project Settings)

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.sts4-cache

# OS
.DS_Store
Thumbs.db
desktop.ini

# Global artifacts (only if at root)
/target/
/node_modules/
/dist/
